# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID="service_2jvfalc"
VITE_EMAILJS_TEMPLATE_ID="template_bj5z3s7"
VITE_EMAILJS_PUBLIC_KEY="dVDViGHoh5dIdJElX"

# Development Mode Override (optional)
# VITE_DEV_MODE=true